.Dimensions {
  width: 23px;
  height: 23px;
}

.ColorBox {
  box-sizing: border-box;
  margin: 10.5px;
  padding-right: 3px;
}

.ColorPicker {
  box-sizing: border-box;
  //height: 267px;
  width: 43px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 8px 16px 0 rgba(155,150,182,0.7);
}